* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    height: 100%;
    background: #c1116f;
    padding: 0 50px;
    color: rgb(9, 122, 103);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    text-transform: uppercase;
    color: rgb(201, 234, 231);
    font-weight: 200;
    letter-spacing: 5px;
}
.menu a{
    color: #fff;
    text-transform: none;
    padding: 0 18px;
   transition: 0.4s;
   text-decoration: none;
   letter-spacing: 2px;
}
.menu a:hover {
color: #218b87;
}
#banner {
    padding:px;
    background-image: url(teclado-b.jpg);
     height: 45vh;
     background-size: cover;
     background-position: center;
}
#banner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0;
}
.contenido-banner {
    margin-left: 30px;
    position: relative;
    color: rgb(211, 80, 163);
    height: 100%;display: flex;
    flex-direction: column;
    justify-content: center;
}
 h3 {
    font-size: 30px;
    color: #6a6268;
    font-weight: 400;
    padding: 10px 0px;
}
p {
color: #218b87;
}
.contenido-banner h3 span{
    font-weight: 600;
}
.boton-empezar {
    text-decoration: none;
    color: #fff;
    border: 1px solid #6cc091;
    align-self: baseline;
    transition: 0.4s;
    padding: 20px 40px;
}
.boton-empezar:hover {
    background: #6cc09070;
}
.imagenes {
    width: 250px;
    height: 250px;
}
#personas {
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align:end; 
}
#personas img {
    border-radius:40% ;
}
#peraonas div {
    padding: 30px 30px;
}
#personas div h4 {
    color: #4d4d5c87;
    font-size: 20px;
    margin: 15px 0px;
}
#personas div p {
color: #4d4d5c87;
font-size: 18px;
}
.boton-saber-mas {
    display: inline-block;
    text-decoration: none;
    color: #6cc091;
    padding: 10px 30px;
    border: 3px solid #6cc091;
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;
}
.boton-saber-mas:hover{
    background-color: #6cc091;
    color: rgb(255, 255, 255);
}
.caja1{
    width: 100%;
    height: 80vh;
    background-color: rgb(244, 219, 235);
    display: flex;
    align-items: center;  
    justify-content:center ; 
    flex-wrap: wrap; 
}
.caja2 {
    font-size: 35px;
    color: #218b87;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;  
    justify-content: center; 
    flex-wrap: wrap; 
    flex-direction: column;
}
.iconos {
  width: 100px;
  height: 100px;
  margin: 40px;
  filter:drop-shadow( 0 0 9px rgb(39, 122, 150)) ;
}
.iconos:hover {
    transform: scale(1.1);
    transition: all 0,3;
    cursor: pointer;
}
.caja3 {
    font-size: 30px;
    color: rgb(70, 64, 68);
    width: 100%;
    height: 100vh;
    background-color:  rgb(223, 138, 183);
    display: flex;
    align-items: center;  
    justify-content: center; 
    flex-wrap: wrap;   
    flex-direction: column; 
}
.iconos2 {
    width: 100px;
    height: 100px;
    margin: 60px;
}
.iconos2:hover {
    transform: scale(1.1);
    transition: all 0,3;
    cursor: pointer;
}
@media(max-width: 765px){
    /*header*/
    .caja2 {
        display: block;
        text-align: center;
    }
    .caja3 {
        display: block;
        text-align: center;
    }
    .iconos2 {
        width: 70px;
        height: 70px;
    }
}








