* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: large;
}
.container {
    max-width: 1400px;
    height: auto;
    display: flex;
    background-color: rgb(19, 13, 16);
    flex-direction: column;
   
}
.caja {
    border-style: solid;
    width: auto;
    height: 100px;
    background-color: rgba(211, 140, 207, 0.563);
    align-items: center;
    padding: 5px 10px;
    padding-right: 20px;
    display: flex;
    justify-content:flex-end;
}
.contenido-caja li {
    display: inline-block;
    padding: 50px;
    font-size: 25px;
    color: rgb(219, 226, 228);
}
.caja-foto {
    border: solid;
    display: flex;
    height: 100%;
    height: 650px;
    align-items:center ;
    background: linear-gradient(to right, rgb(0 0 0 / .6), rgb(0 0 0 / .3)), url(/negro.jpeg);
    background-size: cover;
    background-position: center;
    opacity: 100%;
}
.gera {
    height: 80px;
    width: 80px;
    display: flex;
    margin-left: 30px;
    margin-top: -740px;
    filter: drop-shadow(0 0 5px rgb(168, 161, 168));
    border-radius: 50%;
}
.texto {
   color: rgb(233, 241, 243);
   margin-left: 10px;
   margin-left: 50px;
}
p{
    font-size: 20px;   
}
h1 {
    font-size: 80px;
    color: rgb(197, 190, 8);
}
h3 {
    font-size: 30px;
    color: rgb(60, 184, 186);
    margin-top: -90px;
    margin-left: -70px;
}
h4 {
    font-size: 60px;
    color: rgb(11, 11, 11);
}
.caja2 {
    border-style: solid;
    width: auto;
    height: 630px;
    background-color: rgb(128, 198, 199);
    display: flex;
    align-items: center;  
    justify-content: center; 
    flex-wrap: wrap; 
}
.habilidades {
    font-size: 60px;
    color: rgb(115, 115, 142);  
    
}
.iconos {
  width: 200px;
  height: 200px;
  margin: 40px;
  filter:drop-shadow( 0 0 9px rgb(16, 16, 19)) ;
}
.iconos:hover {
    transform: scale(1.1);
    transition: all 0,3;
    cursor: pointer;
}
.caja3 {
    border-style: solid;
    border-color: #000;
    width: auto;
    height: 630px;
    background-color:  rgb(212, 209, 122);
    display: flex;
    align-items: center;  
    justify-content: center; 
    flex-wrap: wrap; 
    
}
.iconos2 {
    width: 100px;
    height: 100px;
    margin: 60px;
    filter:drop-shadow( 0 0 9px rgb(191, 186, 39)) ;
    
}
.iconos2:hover {
    transform: scale(1.1);
    transition: all 0,3;
    cursor: pointer;
}
h2 {
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb(13, 14, 14);
}









